@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?s48t1q");
  src: url("fonts/icomoon.eot?s48t1q#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?s48t1q") format("truetype"), url("fonts/icomoon.woff?s48t1q") format("woff"), url("fonts/icomoon.svg?s48t1q#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Add 1px margin-top to center the icon */
  display: block;
  margin-top: 1px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cloud:before {
  content: "\e900";
}

.icon-dashboard:before {
  content: "\e901";
}

.icon-suitcase:before {
  content: "\e902";
}

.icon-chevron-circle-right:before {
  content: "\e903";
}

.icon-tag:before {
  content: "\e904";
}

.icon-youtube-play:before {
  content: "\e905";
}

.icon-twitter:before {
  content: "\e906";
}

.icon-facebook:before {
  content: "\e907";
}

.icon-linkedin:before {
  content: "\e908";
}

.icon-chat:before {
  content: "\e909";
}

.icon-arrow-long-right:before {
  content: "\e90a";
}

.icon-user:before {
  content: "\e90b";
}

/*!
 * Bootstrap v4.0.0-alpha.2 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active {
  outline: 0;
}

a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@media print {
  *,
  *::before,
  *::after {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  abbr[title]::after {
    content: " (" attr(title) ")";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  .navbar {
    display: none;
  }
  .btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #000 !important;
  }
  .label {
    border: 1px solid #000;
  }
  .table {
    border-collapse: collapse !important;
  }
  .table td,
  .table th {
    background-color: #fff !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@-webkit-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

html {
  font-size: 14px;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #fff;
  background-color: #fff;
}

[tabindex="-1"]:focus {
  outline: none !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #818a91;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

a {
  color: #fd634e;
  text-decoration: none;
}

a:focus, a:hover {
  color: #fc2103;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
}

[role="button"] {
  cursor: pointer;
}

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

table {
  background-color: transparent;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #818a91;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: left;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
textarea {
  margin: 0;
  line-height: inherit;
  border-radius: 0;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
}

input[type="search"] {
  box-sizing: inherit;
  -webkit-appearance: none;
}

output {
  display: inline-block;
}

[hidden] {
  display: none !important;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.71429rem;
  padding-right: 0.71429rem;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 544px) {
  .container {
    max-width: 576px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 940px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.71429rem;
  padding-right: 0.71429rem;
}

.container-fluid::after {
  content: "";
  display: table;
  clear: both;
}

.row {
  margin-left: -0.71429rem;
  margin-right: -0.71429rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-13, .col-xs-14, .col-xs-15, .col-xs-16, .col-xs-17, .col-xs-18, .col-xs-19, .col-xs-20, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-13, .col-sm-14, .col-sm-15, .col-sm-16, .col-sm-17, .col-sm-18, .col-sm-19, .col-sm-20, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-13, .col-md-14, .col-md-15, .col-md-16, .col-md-17, .col-md-18, .col-md-19, .col-md-20, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-13, .col-lg-14, .col-lg-15, .col-lg-16, .col-lg-17, .col-lg-18, .col-lg-19, .col-lg-20, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-13, .col-xl-14, .col-xl-15, .col-xl-16, .col-xl-17, .col-xl-18, .col-xl-19, .col-xl-20 {
  position: relative;
  min-height: 1px;
  padding-left: 0.71429rem;
  padding-right: 0.71429rem;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-13, .col-xs-14, .col-xs-15, .col-xs-16, .col-xs-17, .col-xs-18, .col-xs-19, .col-xs-20 {
  float: left;
}

.col-xs-1 {
  width: 5%;
}

.col-xs-2 {
  width: 10%;
}

.col-xs-3 {
  width: 15%;
}

.col-xs-4 {
  width: 20%;
}

.col-xs-5 {
  width: 25%;
}

.col-xs-6 {
  width: 30%;
}

.col-xs-7 {
  width: 35%;
}

.col-xs-8 {
  width: 40%;
}

.col-xs-9 {
  width: 45%;
}

.col-xs-10 {
  width: 50%;
}

.col-xs-11 {
  width: 55%;
}

.col-xs-12 {
  width: 60%;
}

.col-xs-13 {
  width: 65%;
}

.col-xs-14 {
  width: 70%;
}

.col-xs-15 {
  width: 75%;
}

.col-xs-16 {
  width: 80%;
}

.col-xs-17 {
  width: 85%;
}

.col-xs-18 {
  width: 90%;
}

.col-xs-19 {
  width: 95%;
}

.col-xs-20 {
  width: 100%;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-pull-1 {
  right: 5%;
}

.col-xs-pull-2 {
  right: 10%;
}

.col-xs-pull-3 {
  right: 15%;
}

.col-xs-pull-4 {
  right: 20%;
}

.col-xs-pull-5 {
  right: 25%;
}

.col-xs-pull-6 {
  right: 30%;
}

.col-xs-pull-7 {
  right: 35%;
}

.col-xs-pull-8 {
  right: 40%;
}

.col-xs-pull-9 {
  right: 45%;
}

.col-xs-pull-10 {
  right: 50%;
}

.col-xs-pull-11 {
  right: 55%;
}

.col-xs-pull-12 {
  right: 60%;
}

.col-xs-pull-13 {
  right: 65%;
}

.col-xs-pull-14 {
  right: 70%;
}

.col-xs-pull-15 {
  right: 75%;
}

.col-xs-pull-16 {
  right: 80%;
}

.col-xs-pull-17 {
  right: 85%;
}

.col-xs-pull-18 {
  right: 90%;
}

.col-xs-pull-19 {
  right: 95%;
}

.col-xs-pull-20 {
  right: 100%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-push-1 {
  left: 5%;
}

.col-xs-push-2 {
  left: 10%;
}

.col-xs-push-3 {
  left: 15%;
}

.col-xs-push-4 {
  left: 20%;
}

.col-xs-push-5 {
  left: 25%;
}

.col-xs-push-6 {
  left: 30%;
}

.col-xs-push-7 {
  left: 35%;
}

.col-xs-push-8 {
  left: 40%;
}

.col-xs-push-9 {
  left: 45%;
}

.col-xs-push-10 {
  left: 50%;
}

.col-xs-push-11 {
  left: 55%;
}

.col-xs-push-12 {
  left: 60%;
}

.col-xs-push-13 {
  left: 65%;
}

.col-xs-push-14 {
  left: 70%;
}

.col-xs-push-15 {
  left: 75%;
}

.col-xs-push-16 {
  left: 80%;
}

.col-xs-push-17 {
  left: 85%;
}

.col-xs-push-18 {
  left: 90%;
}

.col-xs-push-19 {
  left: 95%;
}

.col-xs-push-20 {
  left: 100%;
}

.col-xs-offset-0 {
  margin-left: 0%;
}

.col-xs-offset-1 {
  margin-left: 5%;
}

.col-xs-offset-2 {
  margin-left: 10%;
}

.col-xs-offset-3 {
  margin-left: 15%;
}

.col-xs-offset-4 {
  margin-left: 20%;
}

.col-xs-offset-5 {
  margin-left: 25%;
}

.col-xs-offset-6 {
  margin-left: 30%;
}

.col-xs-offset-7 {
  margin-left: 35%;
}

.col-xs-offset-8 {
  margin-left: 40%;
}

.col-xs-offset-9 {
  margin-left: 45%;
}

.col-xs-offset-10 {
  margin-left: 50%;
}

.col-xs-offset-11 {
  margin-left: 55%;
}

.col-xs-offset-12 {
  margin-left: 60%;
}

.col-xs-offset-13 {
  margin-left: 65%;
}

.col-xs-offset-14 {
  margin-left: 70%;
}

.col-xs-offset-15 {
  margin-left: 75%;
}

.col-xs-offset-16 {
  margin-left: 80%;
}

.col-xs-offset-17 {
  margin-left: 85%;
}

.col-xs-offset-18 {
  margin-left: 90%;
}

.col-xs-offset-19 {
  margin-left: 95%;
}

.col-xs-offset-20 {
  margin-left: 100%;
}

@media (min-width: 544px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-13, .col-sm-14, .col-sm-15, .col-sm-16, .col-sm-17, .col-sm-18, .col-sm-19, .col-sm-20 {
    float: left;
  }
  .col-sm-1 {
    width: 5%;
  }
  .col-sm-2 {
    width: 10%;
  }
  .col-sm-3 {
    width: 15%;
  }
  .col-sm-4 {
    width: 20%;
  }
  .col-sm-5 {
    width: 25%;
  }
  .col-sm-6 {
    width: 30%;
  }
  .col-sm-7 {
    width: 35%;
  }
  .col-sm-8 {
    width: 40%;
  }
  .col-sm-9 {
    width: 45%;
  }
  .col-sm-10 {
    width: 50%;
  }
  .col-sm-11 {
    width: 55%;
  }
  .col-sm-12 {
    width: 60%;
  }
  .col-sm-13 {
    width: 65%;
  }
  .col-sm-14 {
    width: 70%;
  }
  .col-sm-15 {
    width: 75%;
  }
  .col-sm-16 {
    width: 80%;
  }
  .col-sm-17 {
    width: 85%;
  }
  .col-sm-18 {
    width: 90%;
  }
  .col-sm-19 {
    width: 95%;
  }
  .col-sm-20 {
    width: 100%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-pull-1 {
    right: 5%;
  }
  .col-sm-pull-2 {
    right: 10%;
  }
  .col-sm-pull-3 {
    right: 15%;
  }
  .col-sm-pull-4 {
    right: 20%;
  }
  .col-sm-pull-5 {
    right: 25%;
  }
  .col-sm-pull-6 {
    right: 30%;
  }
  .col-sm-pull-7 {
    right: 35%;
  }
  .col-sm-pull-8 {
    right: 40%;
  }
  .col-sm-pull-9 {
    right: 45%;
  }
  .col-sm-pull-10 {
    right: 50%;
  }
  .col-sm-pull-11 {
    right: 55%;
  }
  .col-sm-pull-12 {
    right: 60%;
  }
  .col-sm-pull-13 {
    right: 65%;
  }
  .col-sm-pull-14 {
    right: 70%;
  }
  .col-sm-pull-15 {
    right: 75%;
  }
  .col-sm-pull-16 {
    right: 80%;
  }
  .col-sm-pull-17 {
    right: 85%;
  }
  .col-sm-pull-18 {
    right: 90%;
  }
  .col-sm-pull-19 {
    right: 95%;
  }
  .col-sm-pull-20 {
    right: 100%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-push-1 {
    left: 5%;
  }
  .col-sm-push-2 {
    left: 10%;
  }
  .col-sm-push-3 {
    left: 15%;
  }
  .col-sm-push-4 {
    left: 20%;
  }
  .col-sm-push-5 {
    left: 25%;
  }
  .col-sm-push-6 {
    left: 30%;
  }
  .col-sm-push-7 {
    left: 35%;
  }
  .col-sm-push-8 {
    left: 40%;
  }
  .col-sm-push-9 {
    left: 45%;
  }
  .col-sm-push-10 {
    left: 50%;
  }
  .col-sm-push-11 {
    left: 55%;
  }
  .col-sm-push-12 {
    left: 60%;
  }
  .col-sm-push-13 {
    left: 65%;
  }
  .col-sm-push-14 {
    left: 70%;
  }
  .col-sm-push-15 {
    left: 75%;
  }
  .col-sm-push-16 {
    left: 80%;
  }
  .col-sm-push-17 {
    left: 85%;
  }
  .col-sm-push-18 {
    left: 90%;
  }
  .col-sm-push-19 {
    left: 95%;
  }
  .col-sm-push-20 {
    left: 100%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
  .col-sm-offset-1 {
    margin-left: 5%;
  }
  .col-sm-offset-2 {
    margin-left: 10%;
  }
  .col-sm-offset-3 {
    margin-left: 15%;
  }
  .col-sm-offset-4 {
    margin-left: 20%;
  }
  .col-sm-offset-5 {
    margin-left: 25%;
  }
  .col-sm-offset-6 {
    margin-left: 30%;
  }
  .col-sm-offset-7 {
    margin-left: 35%;
  }
  .col-sm-offset-8 {
    margin-left: 40%;
  }
  .col-sm-offset-9 {
    margin-left: 45%;
  }
  .col-sm-offset-10 {
    margin-left: 50%;
  }
  .col-sm-offset-11 {
    margin-left: 55%;
  }
  .col-sm-offset-12 {
    margin-left: 60%;
  }
  .col-sm-offset-13 {
    margin-left: 65%;
  }
  .col-sm-offset-14 {
    margin-left: 70%;
  }
  .col-sm-offset-15 {
    margin-left: 75%;
  }
  .col-sm-offset-16 {
    margin-left: 80%;
  }
  .col-sm-offset-17 {
    margin-left: 85%;
  }
  .col-sm-offset-18 {
    margin-left: 90%;
  }
  .col-sm-offset-19 {
    margin-left: 95%;
  }
  .col-sm-offset-20 {
    margin-left: 100%;
  }
}

@media (min-width: 768px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-13, .col-md-14, .col-md-15, .col-md-16, .col-md-17, .col-md-18, .col-md-19, .col-md-20 {
    float: left;
  }
  .col-md-1 {
    width: 5%;
  }
  .col-md-2 {
    width: 10%;
  }
  .col-md-3 {
    width: 15%;
  }
  .col-md-4 {
    width: 20%;
  }
  .col-md-5 {
    width: 25%;
  }
  .col-md-6 {
    width: 30%;
  }
  .col-md-7 {
    width: 35%;
  }
  .col-md-8 {
    width: 40%;
  }
  .col-md-9 {
    width: 45%;
  }
  .col-md-10 {
    width: 50%;
  }
  .col-md-11 {
    width: 55%;
  }
  .col-md-12 {
    width: 60%;
  }
  .col-md-13 {
    width: 65%;
  }
  .col-md-14 {
    width: 70%;
  }
  .col-md-15 {
    width: 75%;
  }
  .col-md-16 {
    width: 80%;
  }
  .col-md-17 {
    width: 85%;
  }
  .col-md-18 {
    width: 90%;
  }
  .col-md-19 {
    width: 95%;
  }
  .col-md-20 {
    width: 100%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-pull-1 {
    right: 5%;
  }
  .col-md-pull-2 {
    right: 10%;
  }
  .col-md-pull-3 {
    right: 15%;
  }
  .col-md-pull-4 {
    right: 20%;
  }
  .col-md-pull-5 {
    right: 25%;
  }
  .col-md-pull-6 {
    right: 30%;
  }
  .col-md-pull-7 {
    right: 35%;
  }
  .col-md-pull-8 {
    right: 40%;
  }
  .col-md-pull-9 {
    right: 45%;
  }
  .col-md-pull-10 {
    right: 50%;
  }
  .col-md-pull-11 {
    right: 55%;
  }
  .col-md-pull-12 {
    right: 60%;
  }
  .col-md-pull-13 {
    right: 65%;
  }
  .col-md-pull-14 {
    right: 70%;
  }
  .col-md-pull-15 {
    right: 75%;
  }
  .col-md-pull-16 {
    right: 80%;
  }
  .col-md-pull-17 {
    right: 85%;
  }
  .col-md-pull-18 {
    right: 90%;
  }
  .col-md-pull-19 {
    right: 95%;
  }
  .col-md-pull-20 {
    right: 100%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-push-1 {
    left: 5%;
  }
  .col-md-push-2 {
    left: 10%;
  }
  .col-md-push-3 {
    left: 15%;
  }
  .col-md-push-4 {
    left: 20%;
  }
  .col-md-push-5 {
    left: 25%;
  }
  .col-md-push-6 {
    left: 30%;
  }
  .col-md-push-7 {
    left: 35%;
  }
  .col-md-push-8 {
    left: 40%;
  }
  .col-md-push-9 {
    left: 45%;
  }
  .col-md-push-10 {
    left: 50%;
  }
  .col-md-push-11 {
    left: 55%;
  }
  .col-md-push-12 {
    left: 60%;
  }
  .col-md-push-13 {
    left: 65%;
  }
  .col-md-push-14 {
    left: 70%;
  }
  .col-md-push-15 {
    left: 75%;
  }
  .col-md-push-16 {
    left: 80%;
  }
  .col-md-push-17 {
    left: 85%;
  }
  .col-md-push-18 {
    left: 90%;
  }
  .col-md-push-19 {
    left: 95%;
  }
  .col-md-push-20 {
    left: 100%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
  .col-md-offset-1 {
    margin-left: 5%;
  }
  .col-md-offset-2 {
    margin-left: 10%;
  }
  .col-md-offset-3 {
    margin-left: 15%;
  }
  .col-md-offset-4 {
    margin-left: 20%;
  }
  .col-md-offset-5 {
    margin-left: 25%;
  }
  .col-md-offset-6 {
    margin-left: 30%;
  }
  .col-md-offset-7 {
    margin-left: 35%;
  }
  .col-md-offset-8 {
    margin-left: 40%;
  }
  .col-md-offset-9 {
    margin-left: 45%;
  }
  .col-md-offset-10 {
    margin-left: 50%;
  }
  .col-md-offset-11 {
    margin-left: 55%;
  }
  .col-md-offset-12 {
    margin-left: 60%;
  }
  .col-md-offset-13 {
    margin-left: 65%;
  }
  .col-md-offset-14 {
    margin-left: 70%;
  }
  .col-md-offset-15 {
    margin-left: 75%;
  }
  .col-md-offset-16 {
    margin-left: 80%;
  }
  .col-md-offset-17 {
    margin-left: 85%;
  }
  .col-md-offset-18 {
    margin-left: 90%;
  }
  .col-md-offset-19 {
    margin-left: 95%;
  }
  .col-md-offset-20 {
    margin-left: 100%;
  }
}

@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-13, .col-lg-14, .col-lg-15, .col-lg-16, .col-lg-17, .col-lg-18, .col-lg-19, .col-lg-20 {
    float: left;
  }
  .col-lg-1 {
    width: 5%;
  }
  .col-lg-2 {
    width: 10%;
  }
  .col-lg-3 {
    width: 15%;
  }
  .col-lg-4 {
    width: 20%;
  }
  .col-lg-5 {
    width: 25%;
  }
  .col-lg-6 {
    width: 30%;
  }
  .col-lg-7 {
    width: 35%;
  }
  .col-lg-8 {
    width: 40%;
  }
  .col-lg-9 {
    width: 45%;
  }
  .col-lg-10 {
    width: 50%;
  }
  .col-lg-11 {
    width: 55%;
  }
  .col-lg-12 {
    width: 60%;
  }
  .col-lg-13 {
    width: 65%;
  }
  .col-lg-14 {
    width: 70%;
  }
  .col-lg-15 {
    width: 75%;
  }
  .col-lg-16 {
    width: 80%;
  }
  .col-lg-17 {
    width: 85%;
  }
  .col-lg-18 {
    width: 90%;
  }
  .col-lg-19 {
    width: 95%;
  }
  .col-lg-20 {
    width: 100%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-pull-1 {
    right: 5%;
  }
  .col-lg-pull-2 {
    right: 10%;
  }
  .col-lg-pull-3 {
    right: 15%;
  }
  .col-lg-pull-4 {
    right: 20%;
  }
  .col-lg-pull-5 {
    right: 25%;
  }
  .col-lg-pull-6 {
    right: 30%;
  }
  .col-lg-pull-7 {
    right: 35%;
  }
  .col-lg-pull-8 {
    right: 40%;
  }
  .col-lg-pull-9 {
    right: 45%;
  }
  .col-lg-pull-10 {
    right: 50%;
  }
  .col-lg-pull-11 {
    right: 55%;
  }
  .col-lg-pull-12 {
    right: 60%;
  }
  .col-lg-pull-13 {
    right: 65%;
  }
  .col-lg-pull-14 {
    right: 70%;
  }
  .col-lg-pull-15 {
    right: 75%;
  }
  .col-lg-pull-16 {
    right: 80%;
  }
  .col-lg-pull-17 {
    right: 85%;
  }
  .col-lg-pull-18 {
    right: 90%;
  }
  .col-lg-pull-19 {
    right: 95%;
  }
  .col-lg-pull-20 {
    right: 100%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-push-1 {
    left: 5%;
  }
  .col-lg-push-2 {
    left: 10%;
  }
  .col-lg-push-3 {
    left: 15%;
  }
  .col-lg-push-4 {
    left: 20%;
  }
  .col-lg-push-5 {
    left: 25%;
  }
  .col-lg-push-6 {
    left: 30%;
  }
  .col-lg-push-7 {
    left: 35%;
  }
  .col-lg-push-8 {
    left: 40%;
  }
  .col-lg-push-9 {
    left: 45%;
  }
  .col-lg-push-10 {
    left: 50%;
  }
  .col-lg-push-11 {
    left: 55%;
  }
  .col-lg-push-12 {
    left: 60%;
  }
  .col-lg-push-13 {
    left: 65%;
  }
  .col-lg-push-14 {
    left: 70%;
  }
  .col-lg-push-15 {
    left: 75%;
  }
  .col-lg-push-16 {
    left: 80%;
  }
  .col-lg-push-17 {
    left: 85%;
  }
  .col-lg-push-18 {
    left: 90%;
  }
  .col-lg-push-19 {
    left: 95%;
  }
  .col-lg-push-20 {
    left: 100%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
  .col-lg-offset-1 {
    margin-left: 5%;
  }
  .col-lg-offset-2 {
    margin-left: 10%;
  }
  .col-lg-offset-3 {
    margin-left: 15%;
  }
  .col-lg-offset-4 {
    margin-left: 20%;
  }
  .col-lg-offset-5 {
    margin-left: 25%;
  }
  .col-lg-offset-6 {
    margin-left: 30%;
  }
  .col-lg-offset-7 {
    margin-left: 35%;
  }
  .col-lg-offset-8 {
    margin-left: 40%;
  }
  .col-lg-offset-9 {
    margin-left: 45%;
  }
  .col-lg-offset-10 {
    margin-left: 50%;
  }
  .col-lg-offset-11 {
    margin-left: 55%;
  }
  .col-lg-offset-12 {
    margin-left: 60%;
  }
  .col-lg-offset-13 {
    margin-left: 65%;
  }
  .col-lg-offset-14 {
    margin-left: 70%;
  }
  .col-lg-offset-15 {
    margin-left: 75%;
  }
  .col-lg-offset-16 {
    margin-left: 80%;
  }
  .col-lg-offset-17 {
    margin-left: 85%;
  }
  .col-lg-offset-18 {
    margin-left: 90%;
  }
  .col-lg-offset-19 {
    margin-left: 95%;
  }
  .col-lg-offset-20 {
    margin-left: 100%;
  }
}

@media (min-width: 1200px) {
  .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-13, .col-xl-14, .col-xl-15, .col-xl-16, .col-xl-17, .col-xl-18, .col-xl-19, .col-xl-20 {
    float: left;
  }
  .col-xl-1 {
    width: 5%;
  }
  .col-xl-2 {
    width: 10%;
  }
  .col-xl-3 {
    width: 15%;
  }
  .col-xl-4 {
    width: 20%;
  }
  .col-xl-5 {
    width: 25%;
  }
  .col-xl-6 {
    width: 30%;
  }
  .col-xl-7 {
    width: 35%;
  }
  .col-xl-8 {
    width: 40%;
  }
  .col-xl-9 {
    width: 45%;
  }
  .col-xl-10 {
    width: 50%;
  }
  .col-xl-11 {
    width: 55%;
  }
  .col-xl-12 {
    width: 60%;
  }
  .col-xl-13 {
    width: 65%;
  }
  .col-xl-14 {
    width: 70%;
  }
  .col-xl-15 {
    width: 75%;
  }
  .col-xl-16 {
    width: 80%;
  }
  .col-xl-17 {
    width: 85%;
  }
  .col-xl-18 {
    width: 90%;
  }
  .col-xl-19 {
    width: 95%;
  }
  .col-xl-20 {
    width: 100%;
  }
  .col-xl-pull-0 {
    right: auto;
  }
  .col-xl-pull-1 {
    right: 5%;
  }
  .col-xl-pull-2 {
    right: 10%;
  }
  .col-xl-pull-3 {
    right: 15%;
  }
  .col-xl-pull-4 {
    right: 20%;
  }
  .col-xl-pull-5 {
    right: 25%;
  }
  .col-xl-pull-6 {
    right: 30%;
  }
  .col-xl-pull-7 {
    right: 35%;
  }
  .col-xl-pull-8 {
    right: 40%;
  }
  .col-xl-pull-9 {
    right: 45%;
  }
  .col-xl-pull-10 {
    right: 50%;
  }
  .col-xl-pull-11 {
    right: 55%;
  }
  .col-xl-pull-12 {
    right: 60%;
  }
  .col-xl-pull-13 {
    right: 65%;
  }
  .col-xl-pull-14 {
    right: 70%;
  }
  .col-xl-pull-15 {
    right: 75%;
  }
  .col-xl-pull-16 {
    right: 80%;
  }
  .col-xl-pull-17 {
    right: 85%;
  }
  .col-xl-pull-18 {
    right: 90%;
  }
  .col-xl-pull-19 {
    right: 95%;
  }
  .col-xl-pull-20 {
    right: 100%;
  }
  .col-xl-push-0 {
    left: auto;
  }
  .col-xl-push-1 {
    left: 5%;
  }
  .col-xl-push-2 {
    left: 10%;
  }
  .col-xl-push-3 {
    left: 15%;
  }
  .col-xl-push-4 {
    left: 20%;
  }
  .col-xl-push-5 {
    left: 25%;
  }
  .col-xl-push-6 {
    left: 30%;
  }
  .col-xl-push-7 {
    left: 35%;
  }
  .col-xl-push-8 {
    left: 40%;
  }
  .col-xl-push-9 {
    left: 45%;
  }
  .col-xl-push-10 {
    left: 50%;
  }
  .col-xl-push-11 {
    left: 55%;
  }
  .col-xl-push-12 {
    left: 60%;
  }
  .col-xl-push-13 {
    left: 65%;
  }
  .col-xl-push-14 {
    left: 70%;
  }
  .col-xl-push-15 {
    left: 75%;
  }
  .col-xl-push-16 {
    left: 80%;
  }
  .col-xl-push-17 {
    left: 85%;
  }
  .col-xl-push-18 {
    left: 90%;
  }
  .col-xl-push-19 {
    left: 95%;
  }
  .col-xl-push-20 {
    left: 100%;
  }
  .col-xl-offset-0 {
    margin-left: 0%;
  }
  .col-xl-offset-1 {
    margin-left: 5%;
  }
  .col-xl-offset-2 {
    margin-left: 10%;
  }
  .col-xl-offset-3 {
    margin-left: 15%;
  }
  .col-xl-offset-4 {
    margin-left: 20%;
  }
  .col-xl-offset-5 {
    margin-left: 25%;
  }
  .col-xl-offset-6 {
    margin-left: 30%;
  }
  .col-xl-offset-7 {
    margin-left: 35%;
  }
  .col-xl-offset-8 {
    margin-left: 40%;
  }
  .col-xl-offset-9 {
    margin-left: 45%;
  }
  .col-xl-offset-10 {
    margin-left: 50%;
  }
  .col-xl-offset-11 {
    margin-left: 55%;
  }
  .col-xl-offset-12 {
    margin-left: 60%;
  }
  .col-xl-offset-13 {
    margin-left: 65%;
  }
  .col-xl-offset-14 {
    margin-left: 70%;
  }
  .col-xl-offset-15 {
    margin-left: 75%;
  }
  .col-xl-offset-16 {
    margin-left: 80%;
  }
  .col-xl-offset-17 {
    margin-left: 85%;
  }
  .col-xl-offset-18 {
    margin-left: 90%;
  }
  .col-xl-offset-19 {
    margin-left: 95%;
  }
  .col-xl-offset-20 {
    margin-left: 100%;
  }
}

body {
  background-color: #fd634e;
  font-size: 14px;
  line-height: 1.6;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

::-moz-selection {
  background: #FFF498;
}

::selection {
  background: #FFF498;
}

::-moz-selection {
  background: #FFF498;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: #FFF498;
}

header {
  position: relative;
  width: 100%;
  height: 550px;
  background-image: url("../img/hero_opt.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.fixed-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  z-index: 11;
  transition: all .2s ease-in-out;
}

.fixed-navbar.nav-fix {
  background-color: rgba(13, 7, 25, 0.9);
  height: 80px;
}

.fixed-navbar.nav-open {
  left: -180px;
}

@media (max-width: 992px) {
  .fixed-navbar {
    height: 80px;
  }
}

.navbar-lockup {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 30px;
  line-height: 120px;
  transition: all .2s ease-in-out;
}

.navbar-lockup.nav-fix {
  line-height: 80px;
}

.navbar-lockup .logo {
  float: left;
  visibility: hidden;
  background-image: url("../img/logo.png");
  width: 65px;
  height: 65px;
  margin-top: 7px;
  background-size: cover;
}

.navbar-lockup.nav-fix .logo{
  visibility: visible;
}

.navbar-lockup .logo img {
  width: 100px;
}

.navbar-lockup .nav {
  float: right;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.navbar-lockup .nav li {
  display: inline-block;
  margin-right: 65px;
}

.navbar-lockup .nav li:last-child {
  margin-right: 0;
}

.navbar-lockup .nav li a {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .8px;
  transition: color .2s ease-in-out;
}

.navbar-lockup .nav li a:hover {
  color: #c8e474;
  text-decoration: none;
}

.claim-lockup {
  position: relative;
  max-width: 1180px;
  height: 100%;
  margin: 0 auto;
}

.claim-lockup .claim {
  position: absolute;
  bottom: 150px;
  left: 115px;
}



.claim-lockup .claim .headline {
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
}

.claim-lockup .claim .headline span {
  color: #a2ca28;
}

.claim-lockup .claim .kicker {
  position: relative;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1.8px;
  padding-right: 10px;
  text-transform: uppercase;

}

.claim-lockup .claim .kicker span {
  color: #fd634e;
}

@media (max-width: 670px) {
  .claim-lockup .claim {
    left: 30px;
  }
}

@media (max-width: 400px) {
  .claim-lockup .claim {
    left: 30px;
  }
  .claim-lockup .claim .headline {
    font-size: 32px;
  }

}

@media (max-height: 414px) {
  .claim-lockup .claim {
    bottom: 85px;
  }
}

.angled-overlay {
  position: absolute;
  bottom: 0;
  -webkit-transform: skewY(-2deg);
          transform: skewY(-2deg);
  -webkit-transform-origin: right;
          transform-origin: right;
  width: 100%;
  height: 100px;
  background-color: #fd634e;
  opacity: .3;
}

.slide-out-nav {
  position: fixed;
  top: 0;
  right: -180px;
  bottom: 0;
  width: 180px;
  background-color: #0d1119;
  overflow: hidden;
  z-index: 11;
  transition: all .2s ease-in-out;
}

.slide-out-nav.nav-open {
  right: 0;
}

.slide-out-nav .mobile-nav {
  margin: 50px 20px 0 0;
  padding-left: 0;
  text-align: right;
  list-style: none;
}

.slide-out-nav .mobile-nav li {
  margin-bottom: 15px;
}

.slide-out-nav .mobile-nav li a {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .8px;
  transition: color .2s ease-in-out;
}

.slide-out-nav .mobile-nav li a:hover {
  color: #c8e474;
  text-decoration: none;
}

.slide-out-nav .mobile-nav-slice {
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  width: 100%;
  height: 125%;
  background-color: #fff;
  opacity: .05;
}

.mobile-nav-toggle {
  display: none;
  position: fixed;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 11;
  transition: all .2s ease-in-out;
}

.mobile-nav-toggle.nav-open {
  right: 210px;
}

.mobile-nav-toggle span {
  display: block;
  width: 100%;
  height: 2px;
  margin-bottom: 8px;
  background-color: #fff;
}

@media (max-width: 992px) {
  .navbar-lockup .logo {
    line-height: 80px;
  }
  .navbar-lockup .nav {
    display: none;
  }
  .mobile-nav-toggle {
    display: block;
  }
}

.mobile-shift {
  position: relative;
  left: 0;
  transition: left .2s ease-in-out;
}

.mobile-shift.nav-open {
  left: -180px;
}

.featured {
  position: relative;
  width: 100%;
  padding: 50px 0;
  background-color: #a2ca28;
}

.feature .icon-lg {
  margin-bottom: 10px;
  font-size: 40px;
}

.feature h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 400;
}

.feature p {
  margin-bottom: 30px;
  line-height: 25px;
}

.feature a {
  color: #fff;
}

.feature a .icon-arrow-long-right {
  position: relative;
  top: 2px;
  left: 7px;
  display: inline-block;
  transition: all .2s ease-in-out;
}

.feature a:hover {
  text-decoration: none;
}

.feature a:hover .icon-arrow-long-right {
  left: 17px;
}

@media (max-width: 991px) {
  .feature {
    margin-bottom: 30px;
  }
  .feature h2 {
    margin-bottom: 15px;
  }
  .feature p {
    margin-bottom: 20px;
  }
}

.grid {
  position: relative;
  width: 100%;
}

.bg-secondary {
  background-color: #a2ca28;
}

.amsterdam-first,
.love-your-body {
  position: relative;
  height: 300px;
  margin-bottom: 10px;
}

.amsterdam-first .text-block,
.love-your-body .text-block {
  position: relative;
  height: 100%;
  background-color: #fff;
}

.amsterdam-first .text-block .text-lockup,
.love-your-body .text-block .text-lockup {
  margin: 0 auto;
  text-align: left;
  padding: 20px;
}

.amsterdam-first .text-block .text-lockup h3,
.love-your-body .text-block .text-lockup h3 {
  margin-bottom: -5px;
  color: #fd634e;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;

}

.amsterdam-first .text-block .text-lockup h2,
.love-your-body .text-block .text-lockup h2 {
  color: #a2ca28;
  font-size: 35px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.amsterdam-first .text-block .text-lockup p,
.love-your-body .text-block .text-lockup p {
  margin-top: 15px;
  margin-bottom: 10px;
  color: #656e74;
  line-height: 25px;
}

.amsterdam-first .text-block .text-lockup a,
.love-your-body .text-block .text-lockup a {
  color: #a2ca28;
  text-decoration: underline;
}

.amsterdam-first .text-block .text-lockup img,
.love-your-body .text-block .text-lockup img {
  width: 12px;
}









.love-your-body .large-thumb {
  background-image: url("../img/amstedam-flowers.jpg");
}

.love-your-body .large-thumb .stats {
  left: 45px;
}

@media (max-width: 767px) {
  .love-your-body .large-thumb .stats {
    left: 20px;
  }
}

.mid-unit {
  position: relative;
  height: 650px;
}

.mid-unit .lifestyle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0;
  padding-right: 0;
}

.mid-unit .lifestyle .small-thumb {
  height: 330px;
  background-image: url("../img/jogging.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.mid-unit .lifestyle .text-block {
  position: relative;
  height: 320px;
  background-color: #fff;
}

.mid-unit .lifestyle .text-block .text-lockup {
  position: relative;
  max-width: 315px;
  margin: 0 auto;
  margin-top: 55px;
}

.mid-unit .lifestyle .text-block .text-lockup h3 {
  margin-bottom: -5px;
  color: #fd634e;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.mid-unit .lifestyle .text-block .text-lockup h2 {
  color: #a2ca28;
  font-size: 35px;
  font-weight: 300;
  text-transform: uppercase;
}

.mid-unit .lifestyle .text-block .text-lockup p {
  margin-top: 15px;
  margin-bottom: 10px;
  color: #656e74;
  line-height: 25px;
}

.mid-unit .lifestyle .text-block .text-lockup i {
  position: absolute;
  top: 0;
  right: 0;
  color: #000;
  font-size: 30px;
  opacity: .1;
}

@media (max-width: 1199px) {
  .mid-unit .lifestyle .text-block .text-lockup {
    padding: 0 15px;
  }
  .mid-unit .lifestyle .text-block .text-lockup i {
    right: 15px;
  }
}

@media (max-width: 991px) {
  .mid-unit .lifestyle .text-block .text-lockup {
    max-width: 650px;
  }
}

.mid-unit .summer-fun {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0;
  padding-right: 0;
}

.mid-unit .summer-fun .large-thumb {
  position: relative;
  height: 330px;
  background-image: url("../img/beach.jpg");
  background-position: 50% 75%;
  background-size: cover;
  background-repeat: no-repeat;
}

.mid-unit .summer-fun .large-thumb .date {
  position: absolute;
  top: 60px;
  left: 60px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .8px;
}

.mid-unit .summer-fun .large-thumb .category {
  position: absolute;
  top: 56px;
  right: 60px;
}

.mid-unit .summer-fun .large-thumb .category p {
  display: inline-block;
  margin-right: 5px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .8px;
}

.mid-unit .summer-fun .large-thumb .category i {
  position: relative;
  top: 3px;
  display: inline-block;
  font-size: 20px;
}

@media (max-width: 767px) {
  .mid-unit .summer-fun .large-thumb .date {
    top: 30px;
    left: 15px;
  }
  .mid-unit .summer-fun .large-thumb .category {
    top: 26px;
    right: 15px;
  }
}

.mid-unit .summer-fun .text-block {
  height: 320px;
  background-color: #a2ca28;
  box-shadow: 0 0 60px -20px #000;
  z-index: 10;
}

.mid-unit .summer-fun .text-block .text-lockup {
  position: relative;
  top: 40px;
  max-width: 650px;
  margin: 0 auto;
}

.mid-unit .summer-fun .text-block .text-lockup h2 {
  color: #fff;
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
}

.mid-unit .summer-fun .text-block .text-lockup p {
  margin-top: 15px;
  margin-bottom: 10px;
  color: #fff;
  line-height: 25px;
}

@media (max-width: 1199px) {
  .mid-unit .summer-fun .text-block .text-lockup {
    padding: 0 15px;
  }
}

@media (max-width: 991px) {
  .mid-unit {
    height: auto;
  }
}

.bottom-unit {
  position: relative;
  height: 650px;
}

.bottom-unit .get-involved {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0;
  padding-right: 0;
}

.bottom-unit .get-involved .large-thumb {
  height: 330px;
  background-image: url("../img/self-involved.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bottom-unit .get-involved .text-block {
  position: relative;
  height: 320px;
  background-color: #fff;
}

@media (max-width: 767px) {
  .bottom-unit .get-involved .text-block {
    height: auto;
    padding-bottom: 50px;
  }
}

.bottom-unit .get-involved .text-block .text-lockup {
  position: relative;
  max-width: 650px;
  margin: 0 auto;
  margin-top: 55px;
}

.bottom-unit .get-involved .text-block .text-lockup h3 {
  margin-bottom: -5px;
  color: #fd634e;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.bottom-unit .get-involved .text-block .text-lockup h2 {
  color: #a2ca28;
  font-size: 35px;
  font-weight: 300;
  text-transform: uppercase;
}

.bottom-unit .get-involved .text-block .text-lockup p {
  margin-top: 15px;
  margin-bottom: 10px;
  color: #656e74;
  line-height: 25px;
}

.bottom-unit .get-involved .text-block .text-lockup img {
  position: absolute;
  top: 0;
  right: 0;
  width: 26px;
}

@media (max-width: 1199px) {
  .bottom-unit .get-involved .text-block .text-lockup {
    padding: 0 15px;
  }
  .bottom-unit .get-involved .text-block .text-lockup img {
    right: 15px;
  }
}

.eating-habits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0;
  padding-right: 0;
}

.eating-habits .small-thumb {
  height: 330px;
  background-image: url("../img/eating-habits.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.eating-habits .text-block {
  position: relative;
  height: 320px;
  background-color: #a2ca28;
}

.eating-habits .text-block .text-lockup {
  position: relative;
  max-width: 315px;
  margin: 0 auto;
  margin-top: 55px;
}

.eating-habits .text-block .text-lockup h3 {
  margin-bottom: -5px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.eating-habits .text-block .text-lockup h2 {
  color: #fff;
  font-size: 35px;
  font-weight: 300;
  text-transform: uppercase;
}

.eating-habits .text-block .text-lockup p {
  margin-top: 15px;
  margin-bottom: 10px;
  color: #fff;
  line-height: 25px;
}

.eating-habits .text-block .text-lockup img {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
}

@media (max-width: 1199px) {
  .eating-habits .text-block .text-lockup {
    padding: 0 15px;
  }
  .eating-habits .text-block .text-lockup img {
    right: 15px;
  }
}

@media (max-width: 991px) {
  .eating-habits .text-block .text-lockup {
    max-width: 650px;
  }
}

@media (max-width: 991px) {
  .bottom-unit {
    height: auto;
  }
}

footer {
  position: relative;
  width: 100%;
  background-color: #0d1119;
  overflow: hidden;
}

.closer {
  position: relative;
  height: 350px;
  background-image: url("../img/amsterdam-night_opt.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

 .closing-claim {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 15px;
  z-index: 1;
}

 .closing-claim h1 {
  margin-bottom: 15px;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  line-height: 42px;
}

 .closing-claim p {
  max-width: 475px;
  margin: 0 auto;
  font-size: 16px;
  text-align: center;
}

.footer-lockup {
  position: relative;
  padding: 25px 5px;
}

.footer-lockup .red-angle {
  position: relative;
  left: -60%;
  -webkit-transform: skewX(88deg);
          transform: skewX(88deg);
  width: 100%;
  height: 30px;
  margin-bottom: 50px;
  background-color: #fd634e;
  overflow: hidden;
}

@media (max-width: 767px) {
  .footer-lockup .red-angle {
    display: none;
  }
}

.footer-lockup h3 {
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 400;
}

.footer-lockup p {
  color: #8297a7;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 265px;
}
.social-icons a{
  margin-right: 10px;
}

@media (max-width: 991px) {
  .social-icons {
    margin-bottom: 20px;
  }
}

.social-icons a {
  color: #fff;
}

.social-icons i {
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  transition: background-color .2s ease-in-out;
}

.social-icons .icon-facebook {
  background-color: #2e3192;
}

.social-icons .icon-facebook:hover {
  background-color: #3a3eb9;
}

.social-icons .icon-twitter {
  background-color: #00aeef;
}

.social-icons .icon-twitter:hover {
  background-color: #23c3ff;
}

.social-icons .icon-youtube-play {
  background-color: #ed3123;
}

.social-icons .icon-youtube-play:hover {
  background-color: #f15d52;
}

.social-icons .icon-linkedin {
  background-color: #171a8f;
}

.social-icons .icon-linkedin:hover {
  background-color: #1e22bb;
}

.footer-lockup form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-lockup form input {
  height: 50px;
  margin-right: 5px;
  padding-left: 20px;
  border: none;
  border-radius: 3px;
  color: #8297a7;
}

.footer-lockup form input:focus {
  outline: none;
}

.footer-lockup form input::-webkit-input-placeholder {
  color: #8297a7;
}

.footer-lockup form input:-ms-input-placeholder {
  color: #8297a7;
}

.footer-lockup form input::placeholder {
  color: #8297a7;
}

.footer-lockup form input[type="email"] {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer-lockup form .newsletter-btn {
  margin-right: 0;
  padding: 0 30px;
  color: #fff;
  font-size: 15px;
  line-height: 50px;
  background-color: #a2ca28;
  border: none;
  border-radius: 3px;
  transition: background-color .2s ease-in-out;
}

.footer-lockup form .newsletter-btn i {
  position: relative;
  top: 2px;
  left: 7px;
  display: inline-block;
}

.footer-lockup form .newsletter-btn:hover {
  background-color: #afd735;
}

@media (max-width: 767px) {
  .footer-lockup form {
    display: block;
  }
  .footer-lockup form input {
    width: 100%;
    margin-bottom: 10px;
  }
  .footer-lockup form .newsletter-btn {
    width: 100%;
  }
}

.bg-angled-left, .bg-angled-right {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: skewY(-3.5deg);
          transform: skewY(-3.5deg);
  -webkit-transform-origin: left;
          transform-origin: left;
  background-color: #0d1119;
}

.bg-angled-right {
  -webkit-transform: skewY(3deg);
          transform: skewY(3deg);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.header-bg{
  padding: 0 30px!important;
  background: rgba(253, 99, 78, 0.9);
}
.logo-title{
  padding: 8px 30px;
  background: rgba(253, 99, 78, 0.5);
  font-weight: 500;
}

@media (max-width: 992px) {
  header{
    height: 100vh;
  }

}

.social-content{
  width:100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  align-items: center;
}
.footer-lockup .social-content{
  justify-content: center;
  padding-top: 0;
}
.social-content a {
  padding-right: 10px;
}

.fa-facebook, .fa-facebook-square, .fa-facebook-official {
  background: #3f729b;
  display: inline-block;
  width: 75px;
  height: 75px;
  text-align: center;
  line-height: 75px;
  border-radius: 50%;
  transition: background-color .2s ease-in-out;
  color:#fff;
}

.fa-instagram {
  display: inline-block;
  width: 75px;
  height: 75px;
  text-align: center;
  line-height: 75px;
  color: #fff;
  border-radius: 50%;
  transition: background-color .2s ease-in-out;
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 )
}

.align-center{
  text-align: center;
}

.circular--landscape{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 0 auto;
}

.circular--landscape img{
  width: 100%;
  margin-top: -50px;
}

.bg-third{
  /*background: #f09433 ;*/
  /*background: #2A6ACA ;*/
  background: #FBC02D ;
}
.amsterdam-content{
  padding: 25px 0;
}

.card {
  background: #fff;
  position: relative;
  padding: 25px;
  margin-bottom: 10px;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.amsterdam-card{
  min-height: 200px;
  overflow: hidden;
}

.amsterdam-card img{
  max-width: 100%;
}
.img-content{
  height: 400px;
  overflow: hidden;
  margin: 0;
  padding: 0;
background: url('../img/amstedam-flowers_opt.jpg') no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
}


.amsterdam-card p {
  margin-top: 15px;
  margin-bottom: 10px;
  color: #656e74;
  line-height: 25px;
}
.reason-card{
  color: #656e74;
  padding: 0 25px;
  display: flex;
  align-items: center;
}

.reason-card .fa{
  position: absolute;
  font-size: 50px;
  left: 0;
}

.solution{
  border-left: 10px solid #FBC02D;

}
.reason-card .solution p{
  margin-bottom: auto;
  padding-bottom: 5px;
}

.reason-card div{
  padding-bottom: 25px;
  padding-top: 25px;
}

.reason{
  display: flex;
  height: 100%;
  align-items: center;
  padding-left: 75px;
  font-size: 20px;
  color: #fd634e;
}

.reason p{
  margin-bottom: 0;
}

.amsterdam-card h3 {
  margin-bottom: -5px;
  color: #fd634e;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.how-card{
  height: 400px;
  text-align: center;
}

.how-card i{
  font-size: 75px!important;
}

.how-card  h3{
  color: #fd634e;
  text-align: center;
  font-size: 75px;
}

.how-card p{
  font-size: 22px;
  margin: 20px 0;
  text-align: center;
}
.special{
  position: absolute;
  bottom: 0;
  text-align: left;
  left: 0;
  width: 100%;
  font-size: 12px;
  padding: 5px;
}
.how-card-1{
  background:#a2ca28 ;
}

.how-card-2{
  background:#FBC02D ;
}

.how-card-3{
  background:#795548 ;
}

.how-icon-content{
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;
  font-size: 109px;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.how-row{
  margin: 0 -10px ;
}

/*TODO*/
@media (max-width: 992px) {
  .amsterdam-content {
    padding: 25px 10px;
  }

  .how-row{
    margin: 0;
  }
  .love-your-body{
    height: auto;
  }

  .love-your-body .large-thumb {
    display: none;
  }

  .featured {
    padding: 25px 0;
  }

  .circular--landscape{
    margin-bottom: 20px;
  }

  .how-icon-content{
    width: 100%;
    height: 100px;
    padding-top: 20px;
  }

  .reason-card{
    display: block;
  }

  .solution{
    border-left: none;
  }

  .reason-card div {
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .reason {
    padding-left:0;
  }

  .reason .fa{
position: relative;
    padding-right: 10px;
  }


  footer .fa-instagram, footer .fa-facebook{
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 40px;
  }
}

h2{
  margin-bottom: 20px;
  font-size: 20px;
}

